<legend>PRODUCTS</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">PRODUCT ID</label>
  <div class="col-md-4">
    <input
      id="product_id"
      name="product_id"
      placeholder="PRODUCT ID"
      class="form-control input-md"
      required=""
      type="text"
    />
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
  <div class="col-md-4">
    <input
      id="product_name"
      name="product_name"
      placeholder="PRODUCT NAME"
      class="form-control input-md"
      required=""
      type="text"
    />
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_categorie"
    >PRODUCT CATEGORY</label
  >
  <div class="col-md-4">
    <select
      id="product_categorie"
      name="product_categorie"
      class="form-control"
    ></select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="product_description"
    >PRODUCT DESCRIPTION</label
  >
  <div class="col-md-4">
    <textarea
      class="form-control"
      id="product_description"
      name="product_description"
    ></textarea>
  </div>
</div>

<div class="form-group">
  <div class="form-group">
    <label class="col-md-4 control-label" for="filebutton">main_image</label>
    <div class="col-md-4">
      <input id="filebutton" name="filebutton" class="input-file" type="file" />
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">
      Button
    </button>
  </div>
</div>
